<div class="card">
<%= image_tag user.profile_pic, class: "img-profile-fluid" %>
  <div class="card-block">
    <h2 class="card-title"><%= link_to user.username, user_path(user.id) %></h2>
    <p class="card-text"><%= user.email %></p>
    <p class="card-text"><%= user.first_name %></p>
    <p class="card-text"><%= user.last_name %></p>
    <p class="card-text"><small class="text-muted">Joined <%= distance_of_time_in_words(Time.now, user.created_at) %> ago</small></p>
    <%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Delete Account", cancel_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>