<div class="container" id="maps">
<%= form_tag maps_path, method: :get do %>
  <%= label :address, "Search nearby : " %>
  <%= text_field_tag :address, params[:address], placeholder: "Enter Postcode" %>
  <%= submit_tag "Search" %>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>   
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>
</div>