<h1>Nearby</h1>
<%= form_tag maps_path, method: :get do %>
  <%= label :address, "Search nearby : " %>
  <%= text_field_tag :address, params[:address] %>

  <%= label :distance, "Distance : " %>
  <%= text_field_tag :distance, params[:distance] %>

  <%= submit_tag "Search" %>
<% end %>


<%# for flare in @flare.nearbys(5) %>
<li><%#= link_to flare.address, flare_path %>(<%#= flare.distance.round(2) %> miles)</li>
<%# end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>   
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>
