
<% if !flare.photo %>

<!-- id: 24, title: "hello world", description: "aoeiwhrauehr awkeuhrv awerv ", category: "", location: "", date: nil, time: nil, user_id: 30, created_at: "2016-04-25 13:26:04", updated_at: "2016-04-25 13:26:04", photo: nil>
irb(main):002:0>  -->

<div class="card card-block card-inverse card-primary text-xs-center">
  <blockquote class="card-blockquote">
    <p class="card-title"><%= flare.title %></p>
    <footer>
      <small>
        <p class="class-text"><%= flare.description %></p>
      </small>
    </footer>
  </blockquote>
</div>




<% else %>

<div class="card">
  <%= image_tag flare.photo, class: "img-fluid" %>
  <div class="card-block">
    <h4 class="card-title"><%= link_to flare.title, flare_path(flare.id) %></h4>
    <p class="card-text"><%= flare.description %></p>
    <p class="card-text">Category: <%= flare.category %></p>
    <p class="card-text">Date: <%= flare.start_date.strftime("%B %d, %Y") %></p>
      <p class="card-text">Time: <%= flare.start_time.strftime('%H:%M') %></p>
    <p class="card-text">Location: <%= flare.location %></p>
    <p class="card-text">Address: <%= flare.address %></p>
   
    <p class="card-text"><small class="text-muted">Listed <%= distance_of_time_in_words(Time.now, flare.created_at) %> ago</small></p>


    <% if current_page?(flare_path(flare)) %>
      
      <% if flare.user_id == current_user.id %>
      <%= link_to "Edit", edit_flare_path(flare), class: "btn btn-primary" %>
      <%= link_to "Delete", flare_path(flare), method: :delete, class: "btn btn-primary" %>
        <% end %>


    <% else %>
      <%= link_to "More", flare_path(flare.id) , class: "btn btn-primary" %>
    <% end %>


    <i class="fa fa-comments"></i> <%= flare.comments.count %>
  </div> 
</div>


<% end %>





