<div class="container">
<h1>Flare up</h1>
<%= form_for @flare do |f| %>
  <% if @flare.errors.any? %>
    <% for message in @flare.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <fieldset class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :category %>
    <%= f.select :category,["Music", "Theatre", "Sport", "Event", "Gig"], prompt: "Please select", class: "form-control""%>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :location, class: "form-control",  placeholder: "Location" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :address, class: "form-control",  placeholder: "Address" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :start_time %>
    <%= f.time_field :start_time, class: "form-control" %>
  </fieldset>

  <%= f.submit class: "btn btn-primary" %>

<% end %>
</div>